.character {
	width: 5vw;
	height: 5vw;
	border-radius: 50%;
	position: relative;

	&.blue {
		background-color: #003F66;
	}

	&.purple {
		background-color: #A865B5;
	}

	&.yellow {
		background-color: #FFD358;
	}

	&.green {
		background-color: #6d926d;
	}
}
