.board {
	position: relative;
	width: 100%;
	height: 100vh;
	background: white;
	display: flex;
	flex-direction: column;
	align-items: center;

	.participantBoard {
		width: 100%;
		background-color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1vw 1.5vw;
		border-radius: 8px;

		.nickname {
			display: flex;
			gap: 1vw;
			padding: 1vw;
			border-radius: 16px;
			color: white;

			&.blue {
				background-color: #003F66;
			}

			&.yellow {
				color: black;
				background-color: #FFD358;
			}

			&.purple {
				background-color: #A865B5;
			}

			&.green {
				background-color: #6d926d;
			}
		}
	}

	.dice {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(-50%, -50%);

		.rollingButton {
			width: 5vw;
			height: 5vw;
			border-radius: 50%;
			outline: none;
			border: none;
			cursor: pointer;

			&:active {
				border: 1px solid gray;
			}
		}
	}

	.goal {
		display: flex;
		height: 10vh;
		width: 100%;
		justify-content: flex-end;
		align-items: center;
		gap: 1vw;
	}

	.ladder {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 20%;
		height: 80vh;
		transform: rotate(-45deg);
	}

	.waitingLine {
		border-top: 1px solid gray;
		width: 100%;
		height: 10vh;
		display: flex;
		justify-content: space-around;
		gap: 2vw;
		.characterWrap {
			padding-top: 2vh;
			display: flex;
			gap: 1vw;
		}
	}
}
