.goal {
	width: 5vw;
	height: 5vw;
	border-radius: 50%;
	color: black;
	background-color: rgba(225, 223, 223, 0.699);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

	.character {
		position: absolute;
		top: 0;
		left: 0;
	}
}
