.dashboard {
	margin-top: 2vh;
	display: flex;
	width: 90%;
	justify-content: center;
	gap: 10vw;
	background-color: rgba(225, 223, 223, 0.699);
	border-radius: 16px;
	padding: 2vh;

	.info {
		padding: 1vw;
		border-radius: 16px;
		background-color: rgb(225, 223, 223);
		width: 70%;

		span {
			display: block;
			font-size: 0.8rem;
		}
	}

	.button {
		width: 100%;
		border: none;
		outline: none;
		background-color: bisque;
		padding: 1vh;
		border-radius: 16px;

		&:active {
			border: 1px solid black;
		}
	}

	.buttonWrap {
		width: 30%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		gap: 4px;
	}
}
